.footer {
  h3 {
    letter-spacing: 0.5px;
  }
  .company {
    p {
      max-width: 60%;
      color: $gray-500;
    }
  }
  font-family: "Poppins";
  color: $white;
  background-image: linear-gradient(to bottom, $secondary, $green-0);
  .cus-pad-max {
    padding: 8.8rem 0;
  }

  .about-us {
    ul {
      padding: 0;
      list-style-type: none;
      color: $gray-500;
      a {
        text-decoration: none;
        color: $gray-500;
      }
      li:not(:last-child) {
        margin-bottom: 0.8rem;
      }
      li:hover,
      a:hover {
        color: $gray-100;
        cursor: pointer;
      }
    }
  }
}
