@import "./custom";

@import "./components/buttons";
@import "./sections/navbar";
@import "./sections/home";
@import "./sections/features";
@import "./sections/FAQ";
@import "./sections/try";
@import "./login/login";
@import "./sections/footer";
q a {
  text-decoration: none;
}

::selection {
  color: black;
  background-color: $green-2;
}
