.profile-bdy {
  background-color: #333;
  color: #0fcb83;
  font-family: "Poppins";
}
.hover-btn:hover {
  opacity: 1;
}
.hover-btn {
  opacity: 0.75;
  transition: 0.5s;
}
.border-white-700 {
}

#option-dots {
  transition: 0.4s;
}

#option-dots:hover {
  cursor: pointer;
  color: #81c2a9;
}
a {
  text-decoration: none;
}
